{% extends '_base.html' %}

{% block title %}Eventos{% endblock title %}

{% block content %}
	{% for evento in object_list %}
	<div class="card mb-3" style="max-width: 1024px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img class="eventoscover card-img-top" src="{{ evento.cover.url}}" alt="{{ evento.nombre }}">
    		</div>
    		<div class="col-md-8">
    			<div class="card-body">
	    			<h2 class="card-title"><a href="{{ evento.get_absolute_url }}">{{ evento.nombre }}</a></h2>
	    			<p class="card-text">Descripción: {{ evento.descripcion }}</p>
      			</div>
    		</div>
  		</div>
	</div>
	<br><br>
	{% endfor %}
{% endblock content %}