{% extends '_base.html' %}

{% block title %}{{ empresa.nombre }}{% endblock title %}

{% block content %}
<h5><a class="p-2 my-0 mr-md-auto" href="{% url 'empresa_list' %}" style="color: grey;">Volver</a></h5>
<div class="card">
  <div class="card-body">
  	<h2 class="card-title"><a href="">{{ empresa.nombre }}</a></h2>
    <p class="card-text">Descripción: {{ empresa.descripcion }}</p>
  </div>
  <img class="gastronomiacover card-img-top" src="{{ empresa.cover.url}}" alt="{{ empresa.nombre }}">
</div>
<br><br>
{% endblock content %}